*{
    margin:0px;
}

.navBar{
    margin-left:-350%;
    transition: all 0.5s ease;
    
}
.navBar__active{
   margin-left:0px;
    width:100%;
    height:100%;
    background-color: #141414;
    position: fixed;
    font-family: Arial, Helvetica, sans-serif;
    display:table;
    color:#ffffff;
    position: fixed;
}

.navBar__li{
    list-style: none;
    margin-left: 30px;
    border-bottom: 0.5px solid grey;
    
    transition: all 0.25s ease;
}

svg{
    margin-left: 25px;
    margin-top:25px;
    padding-bottom: 15px;
    color:#ffffff;
}

.navBar__button-open-div{
    position: absolute;
}
 
    .active{
        color:aliceblue
    }

    .navBar__search{
        display: none;
    }
@media only screen and (min-width: 768px) {
    .navBar__button-close-div{
        display: none;
    }
    .navBar{
        position: fixed;
        background-color: #141414;
        border-radius: 15px;
        margin-left:15%;
       color:grey;
        font-size: 1rem;
        display:flex;
        width:80%;
        height: 7vh;
        font-family: Arial, Helvetica, sans-serif;
    }
    .navBar__button-open-div{
        display: none;
    }
    .navBar__li{
        
    border:none;
    height:50%;
    padding:2px;
    padding-bottom: 10px;
    padding-left:20px;
    padding-right:20px;
    margin-top: 10px;
    border-radius: 10px;
    
    
}
.navBar__item{
    text-decoration: none;
    margin-top:10px;
    text-align: center;
    vertical-align: middle;
    color:grey
}
.navBar__search{
background: none;
border:1px groove whitesmoke;
border-radius:15px;
width:10rem;
height:1rem;
position:relative;
display:inline-flex;
color:aliceblue;
left:20px;

}
.navBar__li-first{
    margin-left:25%;
}
.navBar__li:hover{
    background-color: rgb(49, 49, 56);
}
.navBar__li-search{
    list-style: none;
    margin-top: 2vh;
}
.navBar__li-search:hover{
background: none;
}
.navBar__search-div{
    display:inline-flex;
    width:30vw;
    position:relative;
    bottom:-0.7vh;
    left:80px;
    
}
.navBar__search-icon-div{
    position:relative;
    top:-25px;
}
.active{
    color:aliceblue
}
.active:hover{
    background: none;
}
  }
  @media only screen and (max-width:1530px){
    .navBar{
        height:9vh
    }
    .navBar__search-div{
        display:inline-flex;
        width:30vw;
        position:relative;
        bottom:-0.7vh;
        left:50px;
    }
    .navBar__li-first{
        margin-left:1.25%;
    }
  }
  @media only screen and (min-height:750px) {
    .navBar{
        height: 7vh;
    }
  }